* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#titulo {
    font-family: sans-serif;
    color: #390861;
    margin-bottom: 0.2em;
}

#subtitulo {
    font-family: sans-serif;
    color: #390861;
    margin-bottom: 2%;
}

fieldset {
    border:0;
}

body {
    background-color: #F0F8FF;
    max-width: 100%;
    width: 98%;
    font-family: sans-serif;
    font-size:1em;
    color: #59429d;
    margin-left:1%;
    margin-top:1%;
    margin-right: 2%;
    justify-content: center;
}

#tabelaEspaco {
    width: 10%;
}

input, button {
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #59429d;
    display: block;
}

.campo input[type="text"] {
    width: 30%;
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
}

.campo input:focus {
    background-color: #E0E0f8;
}

.botao {
    font-size: 1.2em;
    background: #59429d;
    border:0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow:  2px 2px 2px rgb(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgb(0,0,0,0.5);
    position: relative;
    top: 40%;
}

.botao:hover {
    background-color: #ccbbff;
    box-shadow: inset 2px 2px 2px rgb(0,0,0,0.2);
    text-shadow: none;
}

.botaoAcoes {
    font-size: 1em;
    background: #59429d;
    border:0;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow:  2px 2px 2px rgb(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgb(0,0,0,0.5);
}

.botaoAcoes:hover {
    background-color: #ccbbff;
    box-shadow: inset 2px 2px 2px rgb(0,0,0,0.2);
    text-shadow: none;
}

#tbCliente {
    width:100%;
    margin:0 auto;
    border:0;
    box-shadow: 0 5px 30px darkgrey;
    border-spacing: 0;
  }
  
  #tbCliente thead th{
    font-weight: bold;
    background-color: #13083d;
    color:white;
    padding:5px 10px;
  }
  
  #tbCliente tr td{
    padding:5px 10px;
    text-align: center;
    cursor: pointer; /**importante para não mostrar cursor de texto**/
  }
  

#acao {
    padding-bottom: 10px;
    font-size: 1.1em;
}

/**Cores**/
#tbCliente tr:nth-child(odd){
    background-color: #F0F8FF;
  }
  
  /**Cor quando passar por cima**/
  #tbCliente tr:hover td{
    background-color: #ccbbff;
  }
  
  /**Cor quando selecionado**/
  #tbCliente tr.selecionado td{
    background-color: #9943b3;
  }






